[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mongoengine = "*"
mysql-connector-python = "*"
pillow = "*"
django-mongoengine = "*"
django-mongodb-backend = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true
